  <div class="content">
    <div id="large-header" class="large-header">
      <canvas id="index-canvas"></canvas>
      <h1 class="main-title"><a href="<%= theme.blog_url %>"><%= theme.blog_name %></a></h1>
      <div class="main-author"><%= config.author %></div>
    </div>
  </div>